<div class="login-box">
  <h2>Ajouter Region</h2>
  <form>
    <div class="user-box">
      <input type="text" name="" required="">
      <label>Nom</label>
    </div>
    <div class="user-box">
      <input type="text" name="" required="">
      <label>CodeRegion</label>
    </div>
    <div class="user-box">
      <input type="text" name="" required="">
      <label>Superficie</label>
    </div>
    <div class="user-box">
      <input type="text" name="" required="">
      <label>Pays</label>
    </div>
    <div class="user-box">
      <input type="text" name="" required="">
      <label>Langue</label>
    </div>
    <div class="user-box">
      <input type="text" name="" required="">
      <label>Activité</label>
    </div>
    <a href="#">Submit</a>
  </form>
</div>