
<!-- Form-->
<div class="form">
  <div class="form-toggle"></div>
  <div class="form-panel one">
    <div class="form-header">
      <h1>Connexion</h1>
    </div>
    <div class="form-content">
      <form>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" required="required"/>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required="required"/>
        </div>
        <div class="form-group">
          <a class="form-recovery" href="#">Mots de passe oublié</a>
        </div>
        <div class="form-group">
          <button type="submit">Connexion</button>
        </div>
        <div class="form-group">
          <label class="form-remember">
          Vous n'avez pas de compte
          </label><a class="form-recovery" routerLink="/inscription">Inscrivez-vous</a>
        </div>
      </form>
      
    </div>
  </div>
   
