
<ion-content>

  <ion-card>
    <ion-grid [fixed]="true" >
      <ion-row class="ion-align-items-center">
        <ion-col >    
          <div class="column texte">Bienvenue <br>sur MaliTourist</div>
        </ion-col>
        <ion-col>    
          <div class="column image"><img src="../../assets/image/mali-carte.png" alt="mali-carte"></div>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-card>

<ion-grid >
  <ion-row>
    <ion-col>
      <div class="box" id="blue">
      <ion-card>
        <ion-grid >
        <ion-row class="ion-justify-content-center" >
            <ion-icon name="flag" size="large"></ion-icon>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-card-title>Nombres de Region</ion-card-title>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-card-title>10</ion-card-title>
        </ion-row>
      </ion-grid>
      </ion-card>
    </div>
    </ion-col>
    <ion-col>
      <div class="box" id="blue">
      <ion-card>
        <ion-grid >
        <ion-row class="ion-justify-content-center" >
          <ion-icon name="earth-outline" size="large"></ion-icon>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-card-title>Superficie</ion-card-title>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-card-title>1 241 238 km²</ion-card-title>
        </ion-row>
      </ion-grid>
      </ion-card>
    </div>
    </ion-col>
    <ion-col>
      <div class="box" id="blue">
      <ion-card>
        <ion-grid >
        <ion-row class="ion-justify-content-center" >
          <ion-icon name="people-outline" size="large"></ion-icon>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-card-title>Population</ion-card-title>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-card-title>20 000 000</ion-card-title>
        </ion-row>
      </ion-grid>
      </ion-card>
    </div>
    </ion-col>
    
  </ion-row>
</ion-grid>

<div class="card">
  <div class="card-box">
    <H1 class="title">Mali</H1>
    <div class="content">Ancienne colonie française du Soudan français, le Mali est devenu indépendant le 22 septembre 1960, après l'éclatement de la fédération du Mali regroupant le Sénégal et la République soudanaise. Sa devise est « un peuple, un but, une foi » et son drapeau est constitué de trois bandes verticales verte, jaune et rouge.</div>
    <div class="button">
      <button>
        <span>Voir les regions du Mali</span>
      </button>
    </div>
  </div>
  <div class="card-box"></div>
  <div class="card-box"></div>
</div>

</ion-content>
